
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidade - Biblioteca Moraes</title>
</head>
<body>
    <h1> ATENÇÃO: <i> O SITE BIBLIOTECA MORAES É APENAS PARA ESTUDO DO PROGRAMADOR ENVOLVIDO, PORTANTO, TODAS AS INFORMAÇÕES NESTE DOCUMENTO SÃO MERAMENTE ILUSTRATIVAS</i>
    <header>
        <h1>Política de Privacidade</h1>
        <p>Última atualização: [02 de outubro de 2023]</p>
    </header>

    <section>
        <h2>Introdução</h2>
        <p>Esta Política de Privacidade tem como objetivo demonstrar de que forma a Biblioteca Moraes realiza o tratamento dos dados pessoais, atendendo ao Princípio da Transparência, em especial da Lei Geral de Proteção de Dados – LGPD (Lei n. 13.709, de 14/08/2018), bem como buscando atender a toda legislação do Brasil e Exterior, que contemplem a privacidade e proteção dos dados pessoais.</p>
        <p>A Política de Privacidade se aplica em quaisquer das duas modalidades de serviços oferecidas pela Biblioteca Moraes, seja em:
        </p>
        <p><ul><li>contratos firmados com instituições para acesso do nosso acervo pelos alunos, funcionários e professores da instituição (“site” bibliotecamoraes.com.br);</li>

        <li>contratação, pelo próprio usuário, do Clube de Assinantes (“site www.clube.bibliotecamoraes.com.br).</li></ul></p>
    </section>

    <section>
        <h2>1. Coleta de Dados</h2>
        <p>Os “sites” da Biblioteca Moraes (www.bibliotecamoraes.com.br e www.clube.bibliotecamoraes.com.br) coletam os dados de duas formas: a partir do fornecimento de informações pelo usuário e de forma automática, por meio de cookies e tecnologias afins;</p>
        <p>Os www.bibliotecamoraes.com.br e www.clube.bibliotecamoraes.com.br utilizam certificado SSL (https) e protocolos de segurança para trafegar dados de forma criptografada e evitar a captura indevida e transmissão de dados de forma aberta.</p>
    </section>

    <section>
        <h2>2. Cookies</h2>
        <p>Os cookies coletados estão divididos em algumas categorias:</p>
        <p>Cookies Estritamente Necessários: Estes cookies são necessários para que o website funcione e não podem ser desligados nos nossos sistemas. Normalmente, eles só são configurados em resposta a ações levadas a cabo por si e que correspondem a uma solicitação de serviços, tais como definir as suas preferências de privacidade, iniciar sessão ou preencher formulários. O usuário pode configurar o seu navegador para bloquear ou alertá-lo(a) sobre esses cookies, mas algumas partes do website não funcionarão. Estes cookies não armazenam qualquer informação pessoal identificável.</p>
        <p>Cookies de Funcionalidade: Estes cookies permitem que o site forneça uma funcionalidade e personalização melhoradas. Podem ser estabelecidos pela Biblioteca Moraes ou por fornecedores externos, cujos serviços são adicionados às páginas. Se não permitir estes cookies algumas destas funcionalidades, ou mesmo todas, podem não atuar corretamente.</p>
    </section>

    <section>
        <h2>1.2 INFORMAÇÕES PESSOAIS COLETADAS E SUAS FINALIDADES</h2>
        <p>A Biblioteca Moraes oferece dois tipos de serviços: a) contratos firmados com instituições de ensino para acesso do acervo pelos alunos, funcionários e professores da instituição (“site” www.bibliotecamoraes.com.br), ou, b) contratação, pelo próprio usuário, do Clube de Assinantes (“site” www.clube.bibliotecamoraes.com.br).</p>
        <p>1.2.1. Com relação ao usuário vinculado a alguma instituição que tenha cadastro com a Biblioteca Moraes: Para que o usuário a ela vinculado possa efetuar a leitura dos livros, a instituição de ensino precisa fornecer um nome e sobrenome e um e-mail/ID (que podem ser criados especificamente para esta finalidade) do usuário que acessará o sistema da Biblioteca Moraes. Estas são as únicas informações coletadas. Ademais, para viabilizar o acesso, as instituições de ensino devem gerar uma senha e repassá-la ao usuário.</p>
        <p>1.2.2. Com relação ao contratante do “Clube de Assinaturas”, a Biblioteca Moraes solicita:</p>
        <p>a) Abertura de cadastro, sendo necessário o fornecimento de:</p>
        <p>Dados pessoais ou de empresariais como: e-mail, CPF/CNPJ, nome/razão social, nome fantasia. Estas informações são solicitadas com a finalidade de identificar o contratante;
            Telefone (celular ou fixo) e preferências de canais de comunicação, com finalidade de passar informações relevantes da venda de produto ou prestação de serviços. Complementarmente e desde que expressamente autorizados, a Biblioteca Moraes pode também enviar aos meios indicados campanhas de marketing;
            Caso seja de interesse do usuário, ele poderá informar as áreas de interesse, informações de atuação acadêmica ou profissional e afins, com finalidade de permitir comunicação e ofertas mais apropriadas às necessidades e interesses.</p>
        <p>b) Em caso de efetiva contratação, para conclusão da compra, devem ser informados:</p>
        <p>b.1) Logradouro completo do endereço, com finalidade de cumprimento dos processos envolvidos na venda de, inclusive análise antifraude, e também para o cumprimento de obrigações legais.</p>
        <p>b.2) Dados de cartão de crédito e condições de pagamento, ressalvando que os dados do cartão de crédito serão armazenados, utilizando técnicas seguras de anonimização, criptografia e tokenização junto ao gateway de pagamento, seguindo certificação.</p>
        <p>b.3) Dados e registros enviados no formulário de solicitação, chat de atendimento, WhatsApp e/ou telefone, com finalidade de identificação de solicitações realizadas pelos usuários, bem como nossas respostas, facilitando, assim, futuras interações.</p>
        <p>1.2.2.1 O cadastro será acessado pelo usuário com a utilização de uma senha pessoal, a ser por ele criada e que deverá seguir os parâmetros indicados para que ela seja minimamente complexa. Logo após o cadastro, o usuário receberá um e-mail de confirmação. A senha é criptografa e, por isso, ela não pode ser copiada ou furtada por terceiros. A senha pode ser modificada pelo usuário. O usuário não deverá compartilhar a senha com terceiros</p>
        <p>1.2.2.1.1. A Biblioteca Moraes não envia solicitações, seja por e-mail, telefone ou serviços de mensagens, requisitando a senha.</p>
        <p>1.2.2.2. A Biblioteca Moraes guardará os dados das compras efetuadas para fins fiscais e para controle de bases digitais adquiridas, pelo período necessário ou permitido, em vista das finalidades para as quais os dados pessoais foram coletados.</p>
    </section>
    <section>
        <h2>2. ARMAZENAMENTO E TRANSFERÊNCIA DE DADOS</h2>
        <p>2.1. Os dados acima identificados NÃO FICAM armazenados em nossos servidores.</p>
        <p>2.2. No caso da contratação da Biblioteca Moraes por alguma instituição, os dados (nome e id ou e-mail) são transmitidos diretamente ao fornecedor X Ltda. – CNPJ/MF xx.xxx.xxx/xxxx-xx, que, por sua vez, faz o repasse das mesmas ao fornecedor X, que é a titular do software que permite a leitura dos livros, com sede nos Estados Unidos da América.</p>
        <p>2.3. No caso do Clube de Assinaturas, o e-commerce é operado pela empresa XXXX Ltda.- CNPJ/MF xx.xxx.xxx/xxxx-xx e, na sequência, o nome ou ID, e-mail e plano contratado são fornecidos ao fornecedor X, acima qualificado, que, por sua vez, faz o repasse das mesmas ao fornecedor X Ltda. – CNPJ/MF xx.xxx.xxx/xxxx-xx, que, por sua vez, faz o repasse das mesmas ao fornecedor X, que é a titular do software que permite a leitura dos livros, com sede nos Estados Unidos da América.</p>
        <p>2.5. A Biblioteca Moraes orienta todos os fornecedores a respeitarem a LGDP, bem como a zelar pela segurança dos dados, com a utilização de programas antivírus e firewall.</p>
        <p>2.6. A Biblioteca Moraes não vende ou troca os dados pessoais fornecidos ou coletados automaticamente.</p>
        <p>2.7. Dados completos de contato, endereço de entrega e cobrança, dados de pagamento não são enviados para terceiros para ações de marketing. Eventuais campanhas de marketing tratam os dados de forma anonimizada.</p>
        <p>2.8. Os dados coletados serão armazenados em ambiente seguro e controlado.</p>
    </section>
    <section>
        <h2>3. SOLICITAÇÃO, REVISÃO E EXCLUSÃO DE DADOS</h2>
        <p>3.1. O titular dos dados, poderá solicitar, à Biblioteca Moraes por meio do e-mail suporte@bibliotecamoraes.com.br:</p>
        <p>confirmação da existência de tratamento;
            acesso aos dados;
            informação sobre o uso compartilhado de dados;
            revogação do consentimento;
            correção de dados incompletos, inexatos ou desatualizados;
            eliminação de dados, sendo que neste caso a Biblioteca Moraes se reserva ao direito de excluir apenas os dados não relacionados a obrigações legais e cumprimento de venda de produto em curso e vigentes;
            portabilidade dos dados.</p>

        <p>3.2. A Biblioteca Moraes atenderá as solicitações dentro dos prazos previstos pela LGPD, atualmente de 15 (quinze) dias, e com o prazo de início contando a partir do registro da solicitação formal pelo e-mail indicado acima ou formulário no site.</p>

    </section>
    <section>
        <h2>5. E-MAILS ENVIADOS</h2>
        <p>5.2. Para evitar problemas de comunicação, é importante configurar sua ferramenta de correio eletrônico para considerar esse domínio como confiável. Os e-mails enviados pela Biblioteca Moraes não possuem anexos, principalmente com extensões .exe, .bat, .scr e outras frequentemente utilizadas para introdução de vírus.</p>
    </section>
    <section>
        <h2>6. Condições Gerais</h2>
        <p>6.1. Eventuais reclamações ou sugestões com referência ao tratamento dos dados e Política de Privacidade, poderão ser enviadas à Autoridade Nacional de Proteção de Dados (ANPD) com cópia para suporte@bibliotecamoraes.com.br.</p>
        <p>6.2. Os dados de contato da Biblioteca Moraes são:</p>
        <p>Biblioteca Moraes LTDA

            CNPJ n. xx.xxx.xxx/xxxx-xx
            
            Av. Queiroz Filho, nº 1700, sala 311, Bloco E, Vila Hamburguesa, São Paulo-SP, CEP 05319-000.</p>
    </section>

    <footer>
        <p>Esta Política poderá ser modificada a qualquer tempo. Quando houver alguma modificação nos termos da política de privacidade, o usuário será comunicado ao acessar o “site” www.bibliotecamoraes.com.br, deverá manifestar a sua anuência e terá a possibilidade de imprimi-lo ou salvá-lo.</p>
        <p>Rio Grande do Sul, 02 de outubro de 2023</p>
        <p>Biblioteca Moraes LTDA</p>
    </footer>
</body>
</html>
